{{if .comment}}
    {{template "comment" .comment}}
{{else if .comments}}
    {{range .comments}}
        {{template "comment" .}}
    {{end}}
{{end}}

{{define "comment"}}
<div class="py-2" id={{.ID}}>
    <div class="flex justify-between">
        <p class="suez-one-regular">Comment by {{.Name}}</p>
        <button
            hx-delete="/api/comment/{{.ID}}"
            hx-target="#{{.ID}}"
            hx-swap="delete"
            class="bg-blue-600 rounded-md aspect-square hover:bg-indigo-600 hover:-translate-y-1 hover:scale-110 motion-reduce:transition-none transition ease-in-out delay-100"
        >
            <span class="bi bi-trash p-2" />
        </button>
    </div>
    <div>
        <p class="block italic">{{.Subject}}</p>
        <p class="block">{{.CommentText}}</p>
    </div>
</div>
{{end}}