<div class="grow space-y-4">
    <p class="text-center">Use the form to add your comment below!</p>
    <form hx-post="/api/comment" hx-target="#comments-section" hx-swap="afterbegin" hx-on::after-request="this.reset()"
        class="grid grid-cols-1 gap-6">
        <label class="block">
            <span>Your name</span>
            <input required type="text" name="Name"
                class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 bg-transparent"
                autocomplete="off" />
        </label>
        <label class="block">
            <span>Subject</span>
            <input required type="text" name="Subject"
                class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 bg-transparent"
                autocomplete="off" />
        </label>
        <label class="block">
            <span>Comment</span>
            <textarea required name="CommentText" rows="5"
                class="form-textarea mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 bg-transparent"
                autocomplete="off"></textarea>
        </label>
        <button type="submit"
            class="bg-blue-600 rounded-md py-3 hover:bg-indigo-600 hover:-translate-y-1 hover:scale-110 motion-reduce:transition-none transition ease-in-out delay-100">
            <span>Submit</span>
        </button>
    </form>
    <div id="comments-section" class="space-y-2 divide-y" hx-get="/api/comments" hx-trigger="load">
    </div>
</div>